{% extends 'base.html' %}

{% block content %}
<head>
    <title>Houses</title>
</head>
<center>
    <img src="/static/images/got.jpg" alt="houses" style="width:100%">
</center>
<br>
<h3>House Stark</h3>
<ul>
    <li>located in the north</li>
    <li>Sigil is a dire wolf</li>
    <li>etc...</li>
</ul>
<br>
<h3>House Targaryen</h3>
<ul>
    <li>can ride dragons</li>
    <li>immune to fire</li>
    <li>etc...</li>
</ul>
<br>
<h3>House Arryn</h3>
<ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>
<br>
<h3>House Frey</h3>
<ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>
<br>
<h3>House Greyjoy</h3>
<ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>
<br>
<h3>House Lannister</h3>
<ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>
<br>
<h3>House Baratheon</h3>
<ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>
<br>
<h3>House Tyrell</h3>
<ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>
<br>
<h3>House Martell</h3>
<ul>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>
{% endblock %}